.game-item-container {
  max-width: 17vw;
  min-width: 5vw;
  min-height: auto;
}

.poster {
  margin-bottom: 0.5rem;
  max-width: 17vw;
  min-width: 5vw;
}

.game-item-container p {
  margin-bottom: 0.5rem;
}

.platform-icon {
  margin-right: 7px;
  max-width: 15px;
}

.item-title {
  font-size: 1rem;
  min-height: 40px;
}

@media screen and (min-width: 992px) {
  .game-item-container, .poster {
    max-width: 10vw;
  }
}