.article-container {
  width: 80vw;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}

.article-img {
  width: 100%;
}

.article-date {
  margin: 5px 0;
}

@media screen and (min-width: 992px) {
  .article-container {
    width: 40vw;
  }

  .article-container h3 {
    font-size: 1rem;
  }
}