.game-container {
  background-color: #ebe9e4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
}

.carousel-container-master {
  margin-bottom: 50px
}

.view-games-btn {
  background-color: rgb(231, 79, 104);
  border-color: rgb(231, 79, 104);
  text-transform: uppercase;
}

.pill-btn-anchor {
  text-decoration: none;
  position: absolute;
  bottom: 5%;
  right: 50%;
  margin-right: -75px;
}
