.arrow {
  position: absolute;
  bottom: 5%;
  border: none;
  background: #cac9c5;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  right: 0;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}
.right img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.left {
  left: 0;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
}