.news-master-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.category-container {
  width: 80vw;
  margin-bottom: 1rem;
  text-align: center;
}

.category-btn {
  margin-right: 15px;
  color: rgb(231, 79, 104);
  border: none;
  outline: none;
  background: none;
}

.news-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.news-container-desktop {
  display: none;
}

.all-news-btn {
  margin: 2rem 0;
}

.selected-category {
  font-weight: bold;
}


@media screen and (min-width: 992px) {
  .news-container-mobile {
    display: none;
  }

  .news-container-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-container-desktop {
    display: flex;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px; 
  }
}